
<ion-view title="Glucose Notes" class="tabs-item-hide" hide-back-button="true">
    <ion-nav-title>
      <img class="header-smiley-icon" src="img/icon.png"> <span class="title-accent">Measurements</span>
    </ion-nav-title>

    <ion-nav-buttons side="right">
      <a ng-click="openAddModal()" class="button button-icon button-royal icon ion-android-add"></a>
    </ion-nav-buttons>
  <!--
    <ion-nav-buttons side="right">
      <a ng-href="#/user/{{userName}}" class="button button-icon icon ion-android-person"></a>
    </ion-nav-buttons>
  -->


  <ion-content class="smiley-feed-content" overflow-scroll="true" ion-sticky>

      <ion-list class="list measurements-list">

        <div class="empty-info" ng-if="!loading && !measurements.length">
          <span class="empty-state-face">
            <span class="eye eye--left"></span>
            <span class="eye eye--right"></span>
            <span class="mouth"></span>
          </span>
          No measurements yet
        </div>

        <ion-item class="item measurement-list__item item-divider" ng-if="measurements.length">
          <div class="measurement-item">
            <div class="time-ago">Date</div>
            <span class="measurement">
              <span class="measurement__type">{{visibleTypes[0]}}</span>
            </span>
            <span class="measurement">
              <span class="measurement__type">{{visibleTypes[1]}}</span>
            </span>
            <span class="measurement__diff">
              +/-
            </span>
          </div>
        </ion-item>

        <ion-item
          class="item measurement-list__item"
          ng-repeat="measurement in measurements | orderBy:'added':true"
        >
          <div
            class="measurement-item"
            on-long-press="showMeasurementDialog(measurement.$id)"
            ng-click="showMeasurementDialog('')"
          >
            <div class="time-ago">{{getTimeAgo(measurement.added)}}</div>
            <span ng-repeat="type in visibleTypes" class="measurement">
              <span class="measurement__value">{{formatMeasurement(measurement[type])}}</span>
            </span>
            <span class="measurement__diff">
              {{countDiff(measurement[visibleTypes[1]], measurement[visibleTypes[0]])}}
            </span>
          </div>
          <div class="item__menu" ng-if="visibleDialogId === measurement.$id">
            <button class="button button-clear button-royal" ng-click="showMeasurementDialog('')">Cancel</button>
            <!-- <button class="button button-clear button-royal">Edit</button> -->
            <button class="button button-clear button-assertive" ng-click="removeMeasurement(measurement)">Remove</button>
          </div>
        </ion-item>
      </ion-list>
  </ion-content>


  <div class="measurement-list__item item--summary" ng-if="measurements.length">
    <div class="measurement-item">
      <div class="time-ago">Avg</div>
      <span ng-repeat="type in visibleTypes" class="measurement">
        <span class="measurement__value">{{formatMeasurement(measurementAverage(type))}}</span>
      </span>
      <span class="measurement__diff">
        {{countDiff(measurementAverage(visibleTypes[1]), measurementAverage(visibleTypes[0]))}}
      </span>
    </div>
  </div>

</ion-view>
