
<ion-tabs class="main-tab-navigation no-border-tabs tabs-stable tabs-bottom-tabs tabs-background-stable tabs-color-royal">


  <!-- Feed Tab -->
  <ion-tab title="Notes" icon="ion-ios-list-outline" href="#/history" badge="newItems" badge-style="badge-calm">
    <ion-nav-view name="tab-feed"></ion-nav-view>
  </ion-tab>

  <!-- Chart Tab -->
  <ion-tab title="Chart" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/chart">
    <ion-nav-view name="tab-chart"></ion-nav-view>
  </ion-tab>

</ion-tabs>
