.date-separator__title {
  display: inline-block;
  color: #97a4a8;
  padding: 0;
  text-transform: uppercase;
  text-align: center;
}

.date-rating-avg {
  display: block;
  font-weight: 600;
  text-transform: uppercase;
  margin-left: 0px;
  color: $royal;
  span {
    margin: 0 7px;
    display: inline-block;
  }
}
